<picture class="photo-card">
	<source 
		media="(min-width: 2560px)"
		srcset=""
	>
	<source 
		media="(min-width: 1920px) and (max-width: 2560px)"
		srcset=""
	>
	<source
		media="(min-width: 1600px) and (max-width: 1920px)"
		srcset=""
	>
	<source
		media="(min-width: 1024px) and (max-width: 1600px)"
		srcset=""
	>
	<source
		media="(min-width: 640px) and (max-width: 1024px)"
		srcset=""
	>
	<source
		media="(min-width: 320px) and (max-width: 640px)"
		srcset=""
	>
	<source
		media="(max-width: 320px)"
		srcset=""
	>
</picture>