/**
 *	Photo card
 */
figure.photo-card
	position: relative
	+transitionWithProperties((transform, background-position), 250ms)
	transform: translate3d(0, 30%, 0)
	background-position: 0px 0px
	background-repeat: no-repeat

	+break(max, $break-1)
		min-height: $units * 12
		&.orientation-portrait
			min-height: $units * 30

	+break(min-max, $break-1, $break-2)
		min-height: $units * 15
		&.orientation-portrait
			min-height: $units * 36

	+break(min-max, $break-2, $break-3)
		min-height: $units * 12
		&.orientation-portrait
			min-height: $units * 30

	+break(min, $break-3)
		min-height: $units * 18
		&.orientation-portrait
			min-height: $units * 42

	img
		+transitionWithProperties(opacity, 250ms)
		opacity: 0

	&.loaded
		transform: translate3d(0, 0, 0)
		background-position: 0px $units * 20
		img
			opacity: 1.0

	&.orientation-portrait
		grid-row-end: span 2

	img
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		object-fit: cover