=break($type, $param-break-1, $param-break-2: '')
	@if $type == min
		@media screen and (min-width: $param-break-1)
			@content
	@else if $type == max
		@media screen and (max-width: $param-break-1 - 0.0625rem)
			@content
	@else if $type == min-max
		@media screen and (min-width: $param-break-1) and (max-width: $param-break-2 - 0.0625rem)
			@content

=transitionWithProperties($props, $ms: $transition-duration)
	transition-property: $props
	transition-duration: $ms

=gridTemplateAreas($units)
	$begin: 'start'
	$inner: ''
	$end: ' end'
  
	@if $units <= 2
		grid-template-areas: $begin + $end
	@else
		@for $i from 1 to $units - 1
			$inner: $inner + ' inner'

		grid-template-areas: $begin + $inner + $end

=prominenceRows
	+break(max, $units * 64)
		grid-row: span 1
	+break(min-max, $units * 64, $units * 80)
		grid-row: span 2
	+break(min-max, $units * 80, $units * 120)
		grid-row: span 3
	+break(min, $units * 120)
		grid-row: span 4

=photoGrid($gap: $units / 4)
	display: grid
	grid-gap: $gap
	grid-auto-rows: $units * 20
	grid-auto-flow: row dense
	padding: $gap

	@for $i from 0 through 8
		$min: $units * ($i * 20)
		$max: $units * (($i + 1) * 20)

		+break(min-max, $min, $max)
			@if $i == 1
				grid-template-columns: 1fr
				.prominent
					grid-column: 1
			@else
				grid-template-columns: repeat($i, 1fr)
				+gridTemplateAreas($i)
				.prominent
					grid-column: start / end

			.orientation-landscape
				@if $i >= 3
					&:not(.prominent)
						grid-column-end: span 2

=photoAlbumGrid($gap: $units / 4)
	display: grid
	grid-column-gap: $gap
	grid-row-gap: $gap

	grid-template-columns: repeat(3, 1fr)
	grid-template-rows: repeat(3, 33vh)

=animatedLink
	position: relative

	&:after
		content: ''
		position: absolute
		bottom: 0 - ($units / 4)
		left: 0
		width: 0
		height: $units / 8
		background-color: currentColor
		+transitionWithProperties(width, 200ms)

	&:hover,
	&.active
		&:after
			width: 100%