/**
 *	Header
 */
header

	+break(max, $break-2)
		grid-row: 1 / 5
		grid-column: 2 / 3
		display: grid
		grid-template-rows: minmax($units * 4, $units * 8) 1fr 
		grid-template-columns: $units 1fr minmax($units * 8, auto)
		align-items: center
		background-color: $white
		overflow-x: hidden

		> a
			grid-column: 2 / 3
			grid-row: 1 / 2

		button
			grid-column: 3 / 4
			grid-row: 1 / 2
			justify-self: stretch
			align-self: stretch

			svg.button-close
				display: none

			&.opened
				svg.button-close
					display: unset
				svg.button-menu
					display: none

		&.revealed
			z-index: $z-top
			nav
				opacity: 1.0

	+break(min, $break-2)
		grid-row: 1 / 2
		grid-column: 2 / 3
		display: grid
		grid-template-rows: 1fr
		grid-template-columns: $units repeat(2, auto) $units
		align-items: center

		> a
			grid-column: 2 / 3
			grid-row: 1 / 2
				
		button 
			display: none

/**
 *	Navigation
 */
nav
	+break(max, $break-2)
		grid-column: 1 / 5
		grid-row: 2 / 3
		align-self: start

		opacity: 0

		ul
			display: grid
			grid-auto-flow: row
			justify-items: center
			grid-row-gap: ($units * 3)

	+break(min, $break-2)
		grid-column: 3 / 4
		grid-row: 1 / 2

		ul
			display: grid
			grid-auto-flow: column
			justify-items: end

/**
 *	Teaser photo
 */
section.teaser
	grid-row: 1
	grid-column: 1
	display: grid
	grid-template-columns: 1fr
	grid-template-rows: auto auto

	figure
		grid-row: 1 / 4
		grid-column: 1 / 4
		display: grid
		grid-template-rows: 1fr
		grid-template-columns: 1fr

		picture.photo
			grid-row: 1
			grid-column: 1

			+break(min-max, 0, $break-0)
				height: 25vh
			+break(min-max, $break-0, $break-1)
				height: 30vh
			+break(min-max, $break-1, $break-2)
				height: 40vh
			+break(min, $break-2)
				height: 50vh

			img
				display: block
				width: 100%
				height: auto
				opacity: 0
				+transitionWithProperties(opacity, 400ms)

			&.loaded
				height: unset
				img
					opacity: 1

	figcaption
		z-index: 1
		grid-row: 3 / 4
		grid-column: 1 / 4
		background-color: rgba($black, 0.75)
		color: $white

		+break(min-max, 0, $break-1)
			padding: $units / 2
		+break(min-max, $break-1, $break-2)
			padding: $units
		+break(min, $break-2)
			padding: $units * 1.5


/**
 *	Footer
 */
footer
	grid-row: 4 / 5
	grid-column: 2 / 3

	display: grid
	grid-template-columns: 1fr
	align-items: center
	justify-items: center

	a
		grid-row: 1 / 3