/**
 *	Header
 */
header
	display: grid
	grid-template-columns: repeat(auto-fill, 50%)
	grid-template-rows: 1fr
	
	nav
		display: grid
		align-items: center
		ul
			display: grid
			grid-auto-flow: column
			grid-gap: $units