body
	font-family: $font-family
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

ul,
p
	font-size: $base-font-size

header 
	h1
		font-weight: $font-weight-light
		font-size: $large-font-size

