<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		{{ partial "head" . }}
		{{ partial "meta_tags" . }}
	</head>
	<body>
		{{ partial "header" . }}
		<main class="page albums">
			{{ $photos 		:= where .Site.Pages "Section" "photos" }}
			{{ $album 		:= string .Params.identifier }}
			{{ $filtered 	:= where $photos ".Params.album" $album }}
			{{ range ($filtered.ByParam "prominent") }}
				{{ .Render "card" }}
			{{ end }}
		</main>
		{{ partial "footer" . }}
		{{ partial "scripts" }}
	</body>
</html>