<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		{{ partial "head" . }}
	</head>
	<body>
		{{ partial "header" . }}
		{{ partial "nav" . }}
		<main class="page albums" role="main">
			{{ if .Params.teaser_image}}
				{{ $teaser 		:= string .Params.teaser_image }}
				{{ $category 	:= printf "%s/%s" "photos" .Params.identifier }}
				{{ $photo 		:= .Site.GetPage "page" $category $teaser }}
				{{ partial "photo_teaser" $photo }}
			{{ end }}
			<section class="photos">
				{{ $photos 		:= where .Site.Pages "Section" "photos" }}
				{{ $album 		:= string .Params.identifier }}
				{{ $filtered 	:= where $photos ".Params.album" $album }}
				{{ range $filtered }}
					{{ .Render "card" }}
				{{ end }}
			</section>
		</main>
		{{ partial "footer" . }}
		{{ partial "scripts" }}
	</body>
</html>