main.albums
	display: grid
	grid-column-gap: $units / 2
	grid-row-gap: $units / 2

	+break(min-max, 0, $break-0)
		grid-template-columns: 1fr

	+break(min-max, $break-0, $break-1)
		grid-template-columns: repeat(2, 1fr)

	+break(min-max, $break-1, $break-2)
		grid-template-columns: repeat(3, 1fr)

	+break(min-max, $break-2, $break-3)
		grid-template-columns: repeat(4, 1fr)

	+break(min-max, $break-3, $break-4)
		grid-template-columns: repeat(5, 1fr)

	+break(min-max, $break-4, $break-5)
		grid-template-columns: repeat(6, 1fr)

	+break(min, $break-5)
		grid-template-columns: repeat(8, 1fr)
