/**
 *	The landing page
 */
main.landing
	display: grid
	grid-column: 2 / 3
	grid-row: 2 / 3
	grid-column-gap: $units / 4
	grid-row-gap: $units / 4

	+break(min-max, 0, $break-0)
		grid-template-columns: 1fr

	+break(min-max, $break-0, $break-2)
		grid-template-columns: repeat(2, 1fr)

	+break(min, $break-2)
		grid-template-columns: repeat(3, 1fr)

/**
 *	Albums page
 */
main.albums
	display: grid
	grid-column: 2 / 3
	grid-row: 2 / 3
	grid-template-columns: 1fr
	grid-template-rows: minmax(40vh, auto) 64px auto

	section.teaser
		grid-row: 1
		grid-column: 1
		display: grid

	picture.photo
		img
			display: block

	section.content
		grid-row: 3