{{ $base 		:= .Site.Params.cl_media_base }}
{{ $colours 	:= first 5 .Params.colours }}
{{ $width 		:= .Params.width }}
{{ $height 		:= .Params.height }}
{{ $portrait 	:= ( lt $width $height) }}
<figure class="photo-card orientation-{{ if $portrait }}portrait{{ else }}landscape{{end}}" data-colours="{{ delimit $colours "," }}">
	{{ if $portrait }}
		<img 
			data-src="{{ $base }}/image/upload/w_480/v{{ .Params.cl_version }}/{{ .Params.cl_public_id }}.jpg"
			data-srcset="{{ $base }}/image/upload/w_480/v{{ .Params.cl_version }}/{{ .Params.cl_public_id }}.jpg 1x, {{ $base }}/image/upload/w_960/v{{ .Params.cl_version }}/{{ .Params.cl_public_id }}.jpg 2x"
		/>
	{{ else }}
		<img 
			data-src="{{ $base }}/image/upload/h_480/v{{ .Params.cl_version }}/{{ .Params.cl_public_id }}.jpg"
			data-srcset="{{ $base }}/image/upload/h_480/v{{ .Params.cl_version }}/{{ .Params.cl_public_id }}.jpg 1x, {{ $base }}/image/upload/h_960/v{{ .Params.cl_version }}/{{ .Params.cl_public_id }}.jpg 2x"
		/>
	{{ end }}
</figure>