{{ $base 		:= .Site.Params.cl_media_base }}
{{ $date 		:= string .Params.date}}
{{ $colours 	:= first 2 .Params.colours }}
{{ $dominant 	:= index $colours 1 }}
{{ $width 		:= .Params.width }}
{{ $height 		:= .Params.height }}
{{ $portrait 	:= ( lt $width $height) }}
{{ $prominent	:= .Params.prominent }}
<a class="photo-card orientation-{{ if $portrait }}portrait{{ else }}landscape{{end}} {{ if $prominent }}prominent{{ end }}" href="{{ .Permalink }}">
	<figure data-dominant-colour="{{ $dominant }}" data-colours="{{ delimit $colours "," }}" class="test">
		{{ if $prominent }}
			{{ partial "picture" . }}
		{{ else }}
			{{ partial "picture_thumbnail" . }}
		{{ end }}
		<figcaption>
			<h3>
				{{ .Params.title }} &ndash; {{ .Params.location }} - {{ dateFormat "2006" $date }}
			</h3>
		</figcaption>
	</figure>
</a>